Stampare ogni carattere della stringa, uno su ogni riga, utilizzando costrutto while.

In [ ]:
nome_scuola = "Epicode"
indice = 0
while indice < len(nome_scuola):
  print(nome_scuola[indice])
  indice +=1

E
p
i
c
o
d
e

Stampare a video tutti i numeri da 0 a 20 utilizzando un costrutto while.

In [ ]:
numero = 0

while numero <= 20:
  print(numero)
  numero+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Calcolare e stampare tutte le prime 10 potenze di 2 utilizzando un ciclo while.

In [ ]:
numero = 2
esponente = 0

while esponente <= 10:
  print(numero**esponente)
  esponente +=1

1
2
4
8
16
32
64
128
256
512
1024

Calcolare e stampare tutte le prime N potenze di 2 utilizzando un ciclo while.

In [ ]:
numero = 2
n = int(input("Inserire l'esponente:"))
potenza = 0
while potenza <= n:
  print(numero**potenza)
  potenza +=1

Inserire l'esponente:2
1
2
4

In [ ]:
numero = 2
stringa = input("Inserire l'esponente:")
lista = stringa.split (",")
for i in lista:
  print(numero**int(i))

Inserire l'esponente:3,4,5
8
16
32

Aggiungere i dati mancanti alla lista corsi

In [ ]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]

nuovi_studenti = ["Data Analyst", "Backend", "Frontend", "Cybersecurity"]
corsi.extend(nuovi_studenti)
print(studenti, corsi)

['Alex', 'Bob', 'Cindy', 'Dan', 'Emma', 'Faith', 'Grace', 'Henry'] ['Cybersecurity', 'Data Analyst', 'Backend', 'Frontend', 'Data Analyst', 'Backend', 'Data Analyst', 'Backend', 'Frontend', 'Cybersecurity']

Calcolare e stampare tutte le potenze di 2 minori di 25000

In [ ]:
limite = 25000
esponente = 0
potenza = 0

while potenza < limite:
  potenza = 2**esponente

  if potenza < limite:
    print(potenza)
    esponente+=1

1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384

Scriviamo un programma che chiede in input all'utente una stringa e visualizza i primi 3 caratteri, seguiti da 3 punti di sospensione e quindi gli ultimi 3 caratteri, similmente all'esercizio della lezione scorsa. Stavolta facciamo attenzione a tutti i casi particolari, ovvero implementare soluzioni ad hoc per stringhe di lunghezza inferiore a 6 caratteri.

In [ ]:
stringa = input("inserisci una stringa:")
output = stringa[0:3]+"..."+stringa[3:50]
#andando ad impostare un valore di index alto avrò pochi problemi se la parte successiva della stringa è piu lunga
if len(stringa) < 6:
  print("Errore, la stringa deve essere almeno di 6 caratteri.")
else:
  print(output)

inserisci una stringa:Marcello
Mar...cello

Memorizza e stampa tutti i fattori di un numero dato in input. Esempio: • input: 150 • output: [2, 3, 5, 5]

In [ ]:
fattori = []
numero = int(input("Inserisci un numero: "))
for i in range(1, numero + 1):
    if numero % i == 0:
      fattori.append(i)
print(f'Questi sono i fattori del numero: {numero} : {fattori}')

Inserisci un numero: 150
Questi sono i fattori del numero: 150 : [1, 2, 3, 5, 6, 10, 15, 25, 30, 50, 75, 150]

Abbiamo la stringa: nome_scuola = "Epicode" Stampare ogni carattere della stringa, uno su ogni riga, utilizzando un costrutto for.

In [ ]:
nome_scuola = 'Epicode'
for lettera in nome_scuola:
  print(lettera)

E
p
i
c
o
d
e

Calcolare e stampare tutte le prime 10 potenze di 2 utilizzando un ciclo. Utilizzeremo: • un ciclo per generare i primi 10 numeri, e.g.: range_numerico = list()  # init num = 1  # init while num <= 10: range_numerico.append(num) num += 1

In [ ]:
range_numerico = list() #init
num = 1 #init
while num <= 10:
  range_numerico.append(num)
  num+=1

for numero in range_numerico:
  print(2**numero)

2
4
8
16
32
64
128
256
512
1024

Calcolare (ma non stampare) le prime N potenze di K; ognuna di esse andrà memorizzata in coda a una lista. Alla fine, stampare la lista risultante. Proviamo con diversi valori di K, oppure facciamola inserire all'utente. Realizzare due versioni: • con un ciclo while, • con un ciclo for.

In [ ]:
k = int(input('Inserisci valore:'))
k_list=[]
esponente = 0
while esponente <= k:
  potenza = (2 ** esponente)
  k_list.append(potenza)
  print(k_list)
  esponente+=1

Inserisci valore:10
[1]
[1, 2]
[1, 2, 4]
[1, 2, 4, 8]
[1, 2, 4, 8, 16]
[1, 2, 4, 8, 16, 32]
[1, 2, 4, 8, 16, 32, 64]
[1, 2, 4, 8, 16, 32, 64, 128]
[1, 2, 4, 8, 16, 32, 64, 128, 256]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [ ]:
k = int(input('Inserisci Valore:'))
k_list = []

for esponente in range(k+1):
  potenza = 2 ** esponente
  k_list.append(potenza)
  print(k_list)

Inserisci Valore:10
[1]
[1, 2]
[1, 2, 4]
[1, 2, 4, 8]
[1, 2, 4, 8, 16]
[1, 2, 4, 8, 16, 32]
[1, 2, 4, 8, 16, 32, 64]
[1, 2, 4, 8, 16, 32, 64, 128]
[1, 2, 4, 8, 16, 32, 64, 128, 256]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

Abbiamo una lista con i guadagni degli ultimi 12 mesi: usando un costrutto for, calcolare la media dei guadagni e stamparla a video.

In [ ]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]


somma = 0
for guadagno in guadagni:
  somma += guadagno

media = somma / len(guadagni)
print(media)

70.0

Abbiamo una lista di parole: parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo", "Belvedere", "Semestre", "Esteta", "Sosta", "Orpello", "Abete", "Orologio", "Cesta", "Ermellino"] stampiamo, per ogni parola, quante volte appare la lettera "e"; facciamo attenzione al fatto che appare sia maiuscola che minuscola.

In [ ]:
parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo", "Belvedere", "Semestre", "Esteta", "Sosta", "Orpello", "Abete", "Orologio", "Cesta", "Ermellino"]
for parola in parole:
  minuscola = parola.lower()
  numero_e = minuscola.count("e")
  print(parola + ": " + str(numero_e))

Albergo: 1
Sedia: 1
Borgo: 0
Petalo: 1
Eremo: 2
Belvedere: 4
Semestre: 3
Esteta: 2
Sosta: 0
Orpello: 1
Abete: 2
Orologio: 0
Cesta: 1
Ermellino: 2

Creiamo un dizionario che assegni ad ogni proprietario la sua auto, sapendo che: • Ada guida una Punto • Ben guida una Multipla • Charlie guida una Golf • Debbie guida una 107 Stampiamo il dizionario per intero, e poi l'auto associata a Debbie.

In [ ]:
macchine = {"Ada":"Punto", "Ben":"Multipla", "Charlie":"Golf", "Debbie":"107"}
print(macchine)
print(macchine["Debbie"])

{'Ada': 'Punto', 'Ben': 'Multipla', 'Charlie': 'Golf', 'Debbie': '107'}
107

Abbiamo un dizionario che assegna ad ogni proprietario la sua auto: dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107"} Con un ciclo, e usando il metodo .values(), stampiamo a video tutte le auto che non sono una Multipla.

In [ ]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107"}
for auto in dizionario_auto.values():
  if auto != 'Multipla':
    print(auto)

Punto
Golf
107

Abbiamo due dizionari che assegnano ad ogni proprietario la propria auto: dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1"} nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"} Aggiornare il dizionario dizionario_auto con i dati contenuti in nuovi_proprietari e stamparlo. Cosa è successo a Ben?

In [ ]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1"}
nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"}
dizionario_auto.update(nuovi_proprietari)
print(dizionario_auto)

{'Ada': 'Punto', 'Ben': 'Polo', 'Charlie': 'Golf', 'Debbie': '107', 'Emily': 'A1', 'Fred': 'Octavia', 'Grace': 'Yaris', 'Hugh': 'Clio'}

Ben non viene ripetuto ma inglobato nel record precedente

Osservando la sintassi dei dizionari, possiamo notare qualche affinità con il formato JSON?

**Si, possiamo notare una somiglianza specie nel collegamento di una chiave con il suo item divisi da un separatore, anche quello simile in Json**

Scrivere un programma che, data una lista di numeri, fornisca in output il minimo e il massimo (possiamo usare o meno le funzioni built-in min() e max())

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
massimo = max(lista)
minimo = min(lista)
print(f'Il valore massimo è: {massimo}; Il valore minimo è: {minimo}')

Il valore massimo è: 10; Il valore minimo è: 1

Scrivere un programma che, data una lista di numeri, fornisca in output i tre numeri più grandi; gestire il caso in cui la lista sia più corta di tre, e quando uno o più dei numeri selezionati sono uguali.

In [ ]:
lista_di_numeri = [10, 5, 8, 15, 12, 10, 20]
lista_di_numeri.sort(reverse=True)
tre_massimi=lista_di_numeri[:3]
if len(lista_di_numeri) < 3:
  print('Lista troppo corta')
else:
  print(tre_massimi)

[20, 15, 12]

Scrivere un programma che
• in input acquisisce una lista di numeri e un numero K
• in output, dovrà restituire la media di tutti i numeri nella lista maggiori o uguali a K
• se non ce ne dovesse essere nessuno, dovrà stampare a schermo un messaggio
adeguato.

In [ ]:
  lista = []
  numero = input("Inserisci un numero (termina con 0): ")
  while numero != "0":
    lista.append(int(numero))
    numero = input("Inserisci un numero (termina con 0): ")

  # Acquisisci il numero K
  k = int(input("Inserisci il numero K: "))

  # Calcola la somma e il numero di numeri maggiori o uguali a K
  somma = 0
  numero_elementi = 0
  for numero in lista:
    if numero >= k:
      somma += numero
      numero_elementi += 1

  # Se non ci sono numeri maggiori o uguali a K
  if numero_elementi == 0:
    print("Nessun numero maggiore o uguale a K")
  else:
    # Calcola la media
    media = somma / numero_elementi
    print(f"La media dei numeri maggiori o uguali a {k} è: {media}")

Inserisci un numero (termina con 0): 10
Inserisci un numero (termina con 0): 20
Inserisci un numero (termina con 0): 40
Inserisci un numero (termina con 0): 155
Inserisci un numero (termina con 0): 0
Inserisci il numero K: 25
La media dei numeri maggiori o uguali a 25 è: 97.5

Scrivere un programma che, data una lista di numeri, come output stamperà lo stesso numero di asterischi su righe diverse, ottenendo una semplice visualizzazione grafica Esempio, supponendo di avere il seguente input: numeri = [5, 2, 3, 4] L'output sarà: ***** ** *** ****

In [ ]:
numeri =[5,2,3,4]
indice = 0
for numero in numeri:
  print("*" * numero)

*****
**
***
****

Abbiamo una lista di codici fiscali: lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"] • trovare i codici fiscali che contengono "95", metterli in una lista, e alla fine stamparla; • inoltre, per ognuno di essi, stampare a video i caratteri relativi al nome e quelli relativi al cognome.

In [ ]:
 lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]
 lista_95 = []
 for cf in lista_cf:
  if '95' in cf:
    lista_95.append(cf)
print(lista_95)
nome = cf[0:3]
cognome = cf[3:6]
print(f'Codice Fiscale: {cf}, Nome: {nome}, Cognome:{cognome}')

['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']
Codice Fiscale: DEFGHI95J06A987G, Nome: DEF, Cognome:GHI

Abbiamo tre liste della stessa lunghezza, dove ogni elemento nella medesima posizione si riferisce ai dati dello stesso studente: studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"]
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]
• Stampare a video tutti e soli gli studenti che frequentano una prima edizione; non tutti i dati potrebbero essere necessari.

In [ ]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"]
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]
for i in range(len(studenti)):
  if edizioni[i] == 1:
    print(f'-{studenti[i]}')

-Alex
-Faith

Abbiamo una lista di stringhe di prezzi in dollari, che erroneamente sono stati scritti con il simbolo dell'euro: prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"] cambiare il simbolo dell'euro (€) in quello del dollaro ($) per ogni stringa nella lista; il risultato sarà memorizzato in un'altra lista.

In [5]:
prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]
prezzi_dollari=[]
for prezzo in prezzi:
  nuovo_prezzo = prezzo.replace("€", "$")
  prezzi_dollari.append(nuovo_prezzo)
prezzi_dollari

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

Abbiamo una lista di studenti: studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"] vogliamo dividere gli studenti in due squadre per un campionato di Uno nel seguente modo: selezioneremo i nomi in posizione pari per un squadra, e i nomi in posizione dispari per l'altra. Creiamo due liste per ogni squadra, e alla fine visualizziamole.

*   Voce elenco
*   Voce elenco

In [37]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]
squadra_pari = []
squadra_dispari = []
for indice,studente in enumerate(studenti):
  if indice % 2 == 0:
    squadra_pari.append(studente)
  else:
    squadra_dispari.append(studente)

print(f'Squadra 1: {squadra_pari} \nSquadra 2: {squadra_dispari}')

Squadra 1: ['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']
Squadra 2: ['Bob', 'Dan', 'Faith', 'Henry', 'John']

Abbiamo una lista con i guadagni degli ultimi 12 mesi (supponiamo da Gennaio a Dicembre): guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50] dobbiamo confrontare, stampando tutto a video, il guadagno di ogni mese con la media dei guadagni precedenti, e specificare nell'output se il guadagno attuale è maggiore o minore della media dei precedenti.

In [91]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

media = []
for indice, guadagno in enumerate(guadagni):
  if indice > 0: #prendiamo in considerazione i numeri dopo l'indice 0
    media.append(sum(guadagni[:indice]) / indice) #aggiungiamo alla lista media la somma di un sottogruppo contenente la somma dei guadagni precedenti all'indice in cui ci troviamo nel ciclo, diviso il numero dell'indice stesso(=media precedente all'indice in cui siamo)
  else:
    media.append(None) #risultato che mi dà se provo a stampare media ad indice 0
  if media[indice] is not None:
    print(f"Mese {indice + 1}: {guadagno} - {'Maggiore' if guadagno > media[indice] else 'Minore'} della media precedente ({media[indice]})") #indice + 1 ci fa escludere il primo indice nullo e ci permette anche un reindex
  else:
    print(f"Mese {indice + 1}: {guadagno}")

Mese 1: 100
Mese 2: 90 - Minore della media precedente (100.0)
Mese 3: 70 - Minore della media precedente (95.0)
Mese 4: 40 - Minore della media precedente (86.66666666666667)
Mese 5: 50 - Minore della media precedente (75.0)
Mese 6: 80 - Maggiore della media precedente (70.0)
Mese 7: 90 - Maggiore della media precedente (71.66666666666667)
Mese 8: 120 - Maggiore della media precedente (74.28571428571429)
Mese 9: 80 - Minore della media precedente (80.0)
Mese 10: 20 - Minore della media precedente (80.0)
Mese 11: 50 - Minore della media precedente (74.0)
Mese 12: 50 - Minore della media precedente (71.81818181818181)